---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyDkVMmok7p2YxezljQgnvQh7nkMZTgvuEM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShjX1bxxUegHlhEKHerlqTCrSJSGDgzsEHJ-iHob_kPqEMtlzOnniNAleXazP0yfIO18xiZj6ljsihS7zq-tJhJBjcVcKfBMV7YuCYwGNOjyL37ABMXWs250_LzSMQgZuG03gJtkrms5Yv9nHe4jf_F-L_9Ee8x3GJxp3dAhS-iHdqZf\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Sun, 27 Aug 2023 22:16:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyDkVMmok7p2YxezljQgnvQh7nkMZTgvuEM&maxwidth=400&photo_reference=AUacShjX1bxxUegHlhEKHerlqTCrSJSGDgzsEHJ-iHob_kPqEMtlzOnniNAleXazP0yfIO18xiZj6ljsihS7zq-tJhJBjcVcKfBMV7YuCYwGNOjyL37ABMXWs250_LzSMQgZuG03gJtkrms5Yv9nHe4jf_F-L_9Ee8x3GJxp3dAhS-iHdqZf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuVHzH5rjYfhsVetgmonvQlNvmjJ8QBx3GlnENIYlmiEKzTMtw1GECLP0bWIs26cGzgsEIF3zTn0HoHaXelwxnY1tv7evpTg0U=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuVHzH5rjYfhsVetgmonvQlNvmjJ8QBx3GlnENIYlmiEKzTMtw1GECLP0bWIs26cGzgsEIF3zTn0HoHaXelwxnY1tv7evpTg0U=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 27 Aug 2023 22:16:26 GMT
recorded_with: VCR 6.2.0
