---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyA14LGzl8LmOtXHaGnqSW3CwyZQxFuVl90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShhG2qGyu5Ao0Fmjh5izYR-wJ9N65P6B2668mPgwi0QNw3OEsc3Rx5q_NrlH62EMs9fv2FoIJq2XZM1313XbWCW6fhCI91r8rKL4qia1ingsOLr-pS0k8HsA-ig8swSFdVDOpFhF6Ema-Sb0UoBdOf3aV5D0Ja66kpux6Kc7gLHOL_Ai\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 20:37:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyA14LGzl8LmOtXHaGnqSW3CwyZQxFuVl90&maxwidth=400&photo_reference=AUacShhG2qGyu5Ao0Fmjh5izYR-wJ9N65P6B2668mPgwi0QNw3OEsc3Rx5q_NrlH62EMs9fv2FoIJq2XZM1313XbWCW6fhCI91r8rKL4qia1ingsOLr-pS0k8HsA-ig8swSFdVDOpFhF6Ema-Sb0UoBdOf3aV5D0Ja66kpux6Kc7gLHOL_Ai
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtkwpoBER4PR2ByxMGh6EF9KgPJLt_aCzpkNZWP964fbwYJ2hSKhuHWcMESeytuYTe7oLH7prwHYKYWz77HFkGVjejrT3c8qIY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtkwpoBER4PR2ByxMGh6EF9KgPJLt_aCzpkNZWP964fbwYJ2hSKhuHWcMESeytuYTe7oLH7prwHYKYWz77HFkGVjejrT3c8qIY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 20:37:57 GMT
recorded_with: VCR 6.2.0
