---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo,price_level,rating&input=xxxxxxxxxxxxxx&inputtype=textquery&key=google_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Hotel
        xxxxxxxx\",\n         \"rating\" : 4.3\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 01 Sep 2023 16:43:05 GMT
recorded_with: VCR 6.2.0
