---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShgmW1Ab_y24HWQsucW6ybS6__lwjDZwaObVbEDR1mr4bD98JjAAHV7gg2eSChDuT9Al7Y-_bDbnjeC9Ff19QBWK0EhJjk6nqf4eLFa8yRiTLPI2icOwqkERaIQqKf8wgtzJHaF_89Z_WI8kvRCqe_EIghWpiTmunXudG31rrpB7CmTx\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 21:59:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=google_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShh6JbonQZ3ZqDBvMBifwChwaSeGWqWM1v2qDvwnac0nqQwd3DGJr3ZHRvaZfD18q22BqulaabpuVhyi7uJ0BhiHgTj0K1oIMh835Xt1m09OitmuYlaVizxCu5NuN25n6c16Ny_y5FvEkL87iAEdPj4MgH63lLKPT-gjC2IKhZpiT8iH\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Tue, 29 Aug 2023 20:55:12 GMT
recorded_with: VCR 6.2.0
