---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShjCNRhDYRDPOffWl53R0aKlz94VwsT6nZcahuq0MmF8yaSoyL1ruQP-sdDoQ8VxDGgQ9VoVhQ8qmUNmEdSgEAOjxQ76LYlzlgh-C3z5qGK5p0yJ_LviAZM8nxJwuymQ189I3GCw7Ufvkyk6CMqxkAd4k_v1Rw1-L8vf3RkD-kuOMDet\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 17:25:56 GMT
recorded_with: VCR 6.2.0
