---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyDkVMmok7p2YxezljQgnvQh7nkMZTgvuEM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShgopM1-NrSLa3ToXVeP84vSegTDBie8W6pDvizXHdruzb8L-fsXR86SLhuPVd8oxIA7IGVSoFr2fodbpIqrMI2dVt0uxVaKx5OIHciu0uQ7WrRmvDaQNwzTkI5RI-V8YDb34iSXpYOXeY_1RW0LP98lv3sBL0JkDlBN5rSRdpL4JX9j\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Sun, 27 Aug 2023 22:04:07 GMT
recorded_with: VCR 6.2.0
