---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyA14LGzl8LmOtXHaGnqSW3CwyZQxFuVl90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShiPsqzCH5aqVG6r7L78OGksdUAWt1mlogcHnT3jCzUAWZvu3V4_HN-CBqRIBIxqERypfpY5MBc-hNtvmw_zkKJs9Tt3fcPEhzdbWQfyK0Oea_ExGZTjvoaE_eo3yh1E31UYFZzL6xqG5eOgYgRdjyk_gUpGH9cOMPdkWGLNC1M1eBck\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 19:51:47 GMT
recorded_with: VCR 6.2.0
