---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo&input=crown%20burger&inputtype=textquery&key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShiR8mEDiiYnSnmTa6ShyNutzIH3hMJvzQ8kEt7i-qSWqbJhhOSG13heahXe6kI4mrFpgMYeMWCscppsrPY1TEbeYo3gFQ6PrWakCFPMD3VA7oc8KPTZ3vLvsVoFM4RvIWD9dnNTxyeacf48zB9HKE9scvllaq8TUQbr3gHwpxVIjhfC\",\n
        \              \"width\" : 4032\n            }\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Fri, 25 Aug 2023 23:07:39 GMT
recorded_with: VCR 6.2.0
