---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&location=39.7752563,-105.0498966&radius=50000&type=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"AUacShjzscoqRNNcOgRDjZXzcB8gn1ZOrgnfu52ZC4RB8tc071nVu0opYzwT4sUe9DcrpB1ppTtHlY741qCM1Rtz6Cd8UCKkhxnM9h7SM2eTvH_ayvZmrwT7z4A6ec9BCmN6kU3i8tPoKEOrTThJH_DWU-7eMWoZCgG_x8YaD-2ziLyb7MTbMP84tCKN1wMN1iguqsA8pGfBnr8gXt_mAXpbqlqLVmRaDcIM3loHUucNVu6vssJVbbAW4zYyFa8Sn4g1MUomcPuriUY42qKCGnPqNdWANcRnhiRVwMEKdNz9O4N-odi33qP5TGer2LVO4lfWVC4EeFpjDLehGk3nAnDwRxBKvAdIO7dFwMGFek_SuxGpd9WlBXPKeipJxYLtKC251hr5I5AUhNAu3cgD3mW-XF_qv0UZqbZLQsefMQO3pYbw2ae2I7a0R0byzt0L\",\n
        \  \"results\" : \n   [\n      {\n         \"business_status\" : \"OPERATIONAL\",\n
        \        \"geometry\" : \n         {\n            \"location\" : \n            {\n
        \              \"lat\" : 39.76307789999999,\n               \"lng\" : -105.0056166\n
        \           },\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 39.76450363029149,\n                  \"lng\"
        : -105.0043089697085\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 39.76180566970849,\n                  \"lng\"
        : -105.0070069302915\n               }\n            }\n         },\n         \"icon\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png\",\n
        \        \"icon_background_color\" : \"#FF9E67\",\n         \"icon_mask_base_uri\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet\",\n
        \        \"name\" : \"Root Down\",\n         \"opening_hours\" : \n         {\n
        \           \"open_now\" : false\n         },\n         \"photos\" : \n         [\n
        \           {\n               \"height\" : 2500,\n               \"html_attributions\"
        : \n               [\n                  \"\\u003ca href=\\\"https://maps.google.com/maps/contrib/101203409586871126804\\\"\\u003eRoot
        Down\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShimgelmdbCHy9gYa5jy6EUUwhl_Ye3e8fJ-P3UI8E0xIgTLk69e22XSqj5yVVIatbcyHG5dJwzsFWgONDE78VAj1-0z-QCUEUVHX6rI9X5efdg5Xo3XTqv8JhE48vHUO6aJoZpFP0DtkQCrJ4WLxMgF9c_DVPkpT0jK42HYYjG4F6nD\",\n
        \              \"width\" : 4000\n            }\n         ],\n         \"place_id\"
        : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"plus_code\" : \n         {\n
        \           \"compound_code\" : \"QX7V+6Q Denver, CO, USA\",\n            \"global_code\"
        : \"85FPQX7V+6Q\"\n         },\n         \"price_level\" : 2,\n         \"rating\"
        : 4.6,\n         \"reference\" : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"scope\"
        : \"GOOGLE\",\n         \"types\" : \n         [\n            \"restaurant\",\n
        \           \"food\",\n            \"point_of_interest\",\n            \"establishment\"\n
        \        ],\n         \"user_ratings_total\" : 2883,\n         \"vicinity\"
        : \"1600 West 33rd Avenue, Denver\"\n      },\n      {\n         \"business_status\"
        : \"OPERATIONAL\",\n         \"geometry\" : \n         {\n            \"location\"
        : \n            {\n               \"lat\" : 39.7622847,\n               \"lng\"
        : -105.0133257\n            },\n            \"viewport\" : \n            {\n
        \              \"northeast\" : \n               {\n                  \"lat\"
        : 39.7635038302915,\n                  \"lng\" : -105.01196[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=google_key&location=39.7752563,-105.0498966&radius=50000&type=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"AUacShjW9epnekSVAIWBQ[...]
