---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=80212&key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"80212\",\n
        \              \"short_name\" : \"80212\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Wheat Ridge\",\n               \"short_name\"
        : \"Wheat Ridge\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Colorado\",\n               \"short_name\"
        : \"CO\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Wheat Ridge, CO 80212, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 39.7988519,\n                  \"lng\"
        : -105.034574\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 39.74395,\n                  \"lng\" : -105.0630589\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 39.7752563,\n               \"lng\" : -105.0498966\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 39.7988519,\n                  \"lng\" : -105.034574\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 39.74395,\n                  \"lng\" : -105.0630589\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJ_8fcE5yHa4cRfbPCIJjzidE\",\n
        \        \"postcode_localities\" : \n         [\n            \"Berkley\",\n
        \           \"Denver\",\n            \"Lakeside\",\n            \"Mountain
        View\",\n            \"Wheat Ridge\"\n         ],\n         \"types\" : \n
        \        [\n            \"postal_code\"\n         ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 03:18:52 GMT
recorded_with: VCR 6.2.0
