---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=google_key&location=39.7752563,-105.0498966&radius=50000&type=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"AUacShiTTcdWDbplYUD0BNPlXE1KCK898B6tGu0e1AO1m0-lrLZXX2o6YiWj_DeQ0Mo6xIYn_PU__x5eAFCa87SGN6GGhJ3St4Sb7ZvdyzmhneZHYrCe4DuSu5ZeZTsndIrfatF1jI1m2kaMKJVD8COl8e1kchnAIzUm77jGEkeQC1C-AF5AdKPBwBWO7xfALw6FkzztiU193hsHSobWU8s3BeAQkheq_zqnGU2rQs0fsUi1G961IOiYMdHYUvpXF_glr5Aj03VOkfK8BA1V0m4yL5lrZgvKrZqc1VDjNCkazNjaYYctAAFYjMnGZjkzRY7d65pE8NLbn1UAUIjpuHhSCiD8Fg66ptfHLAyLi6ecUuQ_FRDqVdvIad5_nwG0b-zhzfZRDD5-ErmIEkKXiiQS1YHMnl1LaIhaa8-8MOtE_ZNb1aUKlhFLKKlohjyh\",\n
        \  \"results\" : \n   [\n      {\n         \"business_status\" : \"OPERATIONAL\",\n
        \        \"geometry\" : \n         {\n            \"location\" : \n            {\n
        \              \"lat\" : 39.76307789999999,\n               \"lng\" : -105.0056166\n
        \           },\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 39.76450363029149,\n                  \"lng\"
        : -105.0043089697085\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 39.76180566970849,\n                  \"lng\"
        : -105.0070069302915\n               }\n            }\n         },\n         \"icon\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png\",\n
        \        \"icon_background_color\" : \"#FF9E67\",\n         \"icon_mask_base_uri\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet\",\n
        \        \"name\" : \"Root Down\",\n         \"opening_hours\" : \n         {\n
        \           \"open_now\" : false\n         },\n         \"photos\" : \n         [\n
        \           {\n               \"height\" : 2500,\n               \"html_attributions\"
        : \n               [\n                  \"\\u003ca href=\\\"https://maps.google.com/maps/contrib/101203409586871126804\\\"\\u003eRoot
        Down\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShhyf2bGaHIH6dydNDBwIwBmlkJc1uqYVG6jGPSv6bXkooRfL_avFWbRZyB19i7e9lBu19lROJ4wKQoua1mt8_tc_8RsAaSpPYkw5V0vLoAEbivvVayeivkwOlAwSOZOGAlAiGbOj0C3rzROnzKwVws4O7WCfigjyZUoG1hv6Qvy-afP\",\n
        \              \"width\" : 4000\n            }\n         ],\n         \"place_id\"
        : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"plus_code\" : \n         {\n
        \           \"compound_code\" : \"QX7V+6Q Denver, CO, USA\",\n            \"global_code\"
        : \"85FPQX7V+6Q\"\n         },\n         \"price_level\" : 2,\n         \"rating\"
        : 4.6,\n         \"reference\" : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"scope\"
        : \"GOOGLE\",\n         \"types\" : \n         [\n            \"restaurant\",\n
        \           \"food\",\n            \"point_of_interest\",\n            \"establishment\"\n
        \        ],\n         \"user_ratings_total\" : 2885,\n         \"vicinity\"
        : \"1600 West 33rd Avenue, Denver\"\n      },\n      {\n         \"business_status\"
        : \"OPERATIONAL\",\n         \"geometry\" : \n         {\n            \"location\"
        : \n            {\n               \"lat\" : 39.7622847,\n               \"lng\"
        : -105.0133257\n            },\n            \"viewport\" : \n            {\n
        \              \"northeast\" : \n               {\n                  \"lat\"
        : 39.7635038302915,\n                  \"lng\" : -105.01196[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShhyf2bGaHIH6dydNDBwIwBmlkJc1uqYVG6jGPSv6bXkooRfL_avFWbRZyB19i7e9lBu19lROJ4wKQoua1mt8_tc_8RsAaSpPYkw5V0vLoAEbivvVayeivkwOlAwSOZOGAlAiGbOj0C3rzROnzKwVws4O7WCfigjyZUoG1hv6Qvy-afP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Dt7XwFYOeLxyUjW2TTVDWkW33xSbmgpPVYpaHajck-20MRb6AFoESJMbzRaOBla9VNU3j5jAAGqirr8pnXVtEsfr0M9CYKkpfk=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Dt7XwFYOeLxyUjW2TTVDWkW33xSbmgpPVYpaHajck-20MRb6AFoESJMbzRaOBla9VNU3j5jAAGqirr8pnXVtEsfr0M9CYKkpfk=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShjR7ADtU4Azr7Dlyk2EV6egQmry3x2IwU1qBLfC2uYqKqhM5-zZxjfynWKygoXgUFkGebat_pVKaRCV5cdirtZjIqU4vr0GPIZt_Ks8dlzor-HJyKc-miAhI40thhDYC_EbhYLTfRVxO60_SpktoeTYbZUoFAI-qg9gEuyJT0jv_G07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtWumq9s6g4z7TMDqI43RtATpYXbKPEQd4aP6yaTsPe8xl6Xu4VD2e5vjovqnl50tOrPlM2vj9ZBqG0nuXCnPdjIakVZ9Nh0C0=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtWumq9s6g4z7TMDqI43RtATpYXbKPEQd4aP6yaTsPe8xl6Xu4VD2e5vjovqnl50tOrPlM2vj9ZBqG0nuXCnPdjIakVZ9Nh0C0=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShjtDYCDqoNu6JMWarueJW9L8PyKK7lszlJs1fdt1wLI3CjYAEhGC2qCAAj4EoKyOiAZMwktRuWVWYkxuAWZEghepLrgamT4LFEDQjhrPjMW5TfHNqsx7RqF-WyFCXVT7Cq9nSl5aREy_POeLKwl61s22vnUk3xDfnD3PHPmw6i-3wR_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtAdfhLj_0Lue_aakfFZm3HyrOTqPJx6Afot8WM_m49PSJWuwaOhopVHdyQr3AMfkOV5ufzE4-rg_B9oLLUeI1fgOv8RIOCNKY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtAdfhLj_0Lue_aakfFZm3HyrOTqPJx6Afot8WM_m49PSJWuwaOhopVHdyQr3AMfkOV5ufzE4-rg_B9oLLUeI1fgOv8RIOCNKY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShhaFDdbK9jKr9bxU2t2Gu3lDUpjSBWBucP1AJKt7WWvTkUN8hI_fM9d7iyH0dPVIGp8jIph-xj2VLvqAej94hIAeLUrW0ZTgyJtjTXMvtisPmyqe61pxQXczrUI6_mD9V0hLdkHM-qsGsZET-e-P7MbZ4LMeEAsYvu38dU5PrknLK6l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtzgutjRLGY8rWBWH8xlwyCe53w4LSbPRAazU9erC8EdH7L8XhG4k75jJfwAR_kOi_eu8CtE7EZGF0WVrUpNzYhwUvwAzGKiGA=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtzgutjRLGY8rWBWH8xlwyCe53w4LSbPRAazU9erC8EdH7L8XhG4k75jJfwAR_kOi_eu8CtE7EZGF0WVrUpNzYhwUvwAzGKiGA=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShiKfURbjF9LXR9KQy-fEdzyUe46qDJJtWVlnTSLbGAu0py9_pb_ILdJUH2O-0WtVfJsW-aNJpZgDCwCTFfbpay0y4tZgB482P6A8pB0AfBcDiepl7ck_G6sg15BaT52cqPbdZmuAFgVrLi_ZCrzMbXvvvF9mIdS7Hf7JBBQZgObSqHx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuLptXJXECmkHS4C-3yoYfifWw6eRMD0MvTrRGuQPgGLKDuc03TKkV_qLtpo4VHFpPdECDUOZgP-g1tqKxNa01woaoG4J7NkJU=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuLptXJXECmkHS4C-3yoYfifWw6eRMD0MvTrRGuQPgGLKDuc03TKkV_qLtpo4VHFpPdECDUOZgP-g1tqKxNa01woaoG4J7NkJU=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgw3bPQkBs2ZVru1W7Jcla8mtITlixZ_ZYP0MrhmbTZSyQ9qD2fbn7AIcw5jitAWkKtXTC5nDSFQP-ahBiP-xb9ZZvnW7oBSawn8GvWGtiS-VqZVk4L65mbgozf_rx9k5Gp6r8c5mOQDNb5pI3fjIhKc-l8o86rJQpg_c_Am6LVST4v
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Dt_aCdCYlU3aj-oBtjy1iZbxLuiaBf483_GVwdiz5aAKL5gZVNC9CIZiOH6FoI2P0STsUr-rjD0oN8qPSz679VYZVoexM1d2IU=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Dt_aCdCYlU3aj-oBtjy1iZbxLuiaBf483_GVwdiz5aAKL5gZVNC9CIZiOH6FoI2P0STsUr-rjD0oN8qPSz679VYZVoexM1d2IU=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgbIpxq7HcNdKRgIl35INkC00s1vj7IQ3Ef3E4aaZAzuxcrB_Sg6sH7J5l8FOWNkxjZUQbQqcRXVxBaVV50zdwdSSdCBiFBAQiPqVCtbXOZoqAfoUybJiP3kq4BEALzNZjLgQIel2I-ToY4Z2jzcyFVdoZYeTnsZ0siqPdvzKIEuWpH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuzzTX3L73dYKHJwBbkoVa2qMKyKTfjkBixCh4-XH3C4iWfD7_LGuXsEzfObI0SyMRFWBAbIpjwbGqTHKSXiPusxQwzOyG6Fqs=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuzzTX3L73dYKHJwBbkoVa2qMKyKTfjkBixCh4-XH3C4iWfD7_LGuXsEzfObI0SyMRFWBAbIpjwbGqTHKSXiPusxQwzOyG6Fqs=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgdOmiYCDO-hgmk_QIjS-8fcWh0fdp1609aCR0h7DbiBTqfvLs3PKwwqeamoRfVp4wMuNvYp6mppPUtLjvKZ6HeGUY-qiJRCHzVdnH0QdZNWrZLUavERLZF0ophLCoGxtGFZZRJSLEWHn75Rq01fDxRPH-6qq1CMPRuynk-7HVs4Buq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Dvhe5RoMGRQeG49TsqER-RH35FVa6nlFuEFeH-96ticSPJ5zq6ME7wobzzn6AQue-xjTgvZ3II96JPyqPm_IiHWypmMQ9qPjLI=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Dvhe5RoMGRQeG49TsqER-RH35FVa6nlFuEFeH-96ticSPJ5zq6ME7wobzzn6AQue-xjTgvZ3II96JPyqPm_IiHWypmMQ9qPjLI=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShjludhiXYmMjGQLrIzAYFCP4oLEf-MILd802CAyFbkhvKbiPH9cyr7VlA8jejl_VYW7JT2QyZOCuJkRxsT435a6YCmntE1oh_GOtd66LxpKohuTwGdwDPwgqIA3sePBxHpIOBeYulIOoJOXZhS_tjoIz5THaoC1kHoacy7_zCpZKZgh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsTT_IuSMYef-LqONaWNu6WgT6dwL-kWcnDQAcSoMgD7oNmz766dzN9SsWUNZiixqWI5Zp67amD7vCpv50CBuwAOeHD7NYyg70=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsTT_IuSMYef-LqONaWNu6WgT6dwL-kWcnDQAcSoMgD7oNmz766dzN9SsWUNZiixqWI5Zp67amD7vCpv50CBuwAOeHD7NYyg70=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShg9S0q7-dAQ10rbqlAlBUrk95SqZuP6uSn2OzmD5dfEpbtRz2fkTKULD2NkuVPH_Ie8Gdm8IQU8Mlv8amG7HZTtd72XbN-TbvBY-q53G5duWaGEroZeg_Nyn9S6sCHeHIUQkHkr9SPLtwbHs0HonjpsBnug8-Gp-eI4yoo2Kp3RyhY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtGn3w4hdOzJlWj3ElV9FrBW4jXqYU9BYxIuAOLsYaWpC-CgnTZXJ78do0ZmLfbSo9Q5KVl8Ync77ibCzqAYXWEvUNvi3wG3g=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtGn3w4hdOzJlWj3ElV9FrBW4jXqYU9BYxIuAOLsYaWpC-CgnTZXJ78do0ZmLfbSo9Q5KVl8Ync77ibCzqAYXWEvUNvi3wG3g=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShiCuwONMhowZys6HnkluM8gGjQ6_logc_1H-vURFc_CULusaeetbyFluUs7fVUCvbbaUbMzPz1Z-Wb5SpgGvNsUBzuSBo0KElEvWLR0yli9yv22z8wgvq50pMZuznFdmXEtrqqdf2bDtyI0hP2afapR3UR_sB2-qeEbZepS9cg8wkiD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtTEc1aP1yY77hkh0Gy49nPfwXO1L01MJoxPndpyf0PssOptbqf-oEQd4PTNLtAyYAgqbmSMUNjKlWumDSW8bDvWJn3O9BISY8=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtTEc1aP1yY77hkh0Gy49nPfwXO1L01MJoxPndpyf0PssOptbqf-oEQd4PTNLtAyYAgqbmSMUNjKlWumDSW8bDvWJn3O9BISY8=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgfTKR6SquSxr9T3oTCH-xNPcaR54Bz5Y5EZTMJMa4Z2YPLOOiOeR1R4CBE2OtNm-FVbhuVIFP1WM0ftt2JtgYDGE5TL9yB4esUx9ciuFBmEtYoI5IlnKSKAVbCwMUCUWMDcwIvbxD7LIEtDqqJC1UzTGXlX9EsV8O_nMvBJEqVguPQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Du0SrzEhhIF5KhyZn9wQplmHbFKZNRnjUV2WeuGOAsjkubQ_EweCBn5orL7IdRYOUa8G5f96zHnbdVl4I0JHWW3GSHMGekK1YY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Du0SrzEhhIF5KhyZn9wQplmHbFKZNRnjUV2WeuGOAsjkubQ_EweCBn5orL7IdRYOUa8G5f96zHnbdVl4I0JHWW3GSHMGekK1YY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgnCdu12PQThsIcgS2YpR-WFLopIyAa4RWyc9S3v-vOJ9Dl-nQZD_-00pO17Vh_kBB69RFctqaOga77yT20g-rdLwASpmB_jfIqq0Nz7M8oyeWnrQjsez6JedcTHquaRTTJbKoUKAA4K_e8wMslWlAna47HMekmMICIRP87yigorKI9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtXlDd-VgIehcRTfwiYskQKrUMH8iaoLwNAi30H8ds3qn86TOjfCbLPOdz6L8KjyjPbbiRy6qy_U24MSwYOUtwLhwhwpwIiwow=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtXlDd-VgIehcRTfwiYskQKrUMH8iaoLwNAi30H8ds3qn86TOjfCbLPOdz6L8KjyjPbbiRy6qy_U24MSwYOUtwLhwhwpwIiwow=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShgSB-TyWWQ328c2g4aF_sIEtv9vIozEnoQ9GHluOaAVGgu5aRI4ni-fct1RhiV7lI7Gyoas9GQrhFM5h2jecmo7b-B1t-3_h0Ntr179g72xHcGo2L8uL_XEwFma93n0U4GTWh4dJsw50Rd-qRiyAznf4SyGhd9s_pOkMUE6VdBgzgbz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtQpeKMvpuu8b9as1cjrM4j1-KusGdXuwHAfCEageE3IzePwaSG9eaDPOYPgcU7Jv65fT9mVcz6mk8sD1lYYzL_2sQCpXrjfbY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtQpeKMvpuu8b9as1cjrM4j1-KusGdXuwHAfCEageE3IzePwaSG9eaDPOYPgcU7Jv65fT9mVcz6mk8sD1lYYzL_2sQCpXrjfbY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShikEaqN5rb1OLpMYmCplEN5LRI0XuR2r5cC8baTfQE3Np9VgNnIYl8c6DloL0xJLdzZTAtbl9WVg8e0aDOa9T-MA-apO8ZStzRjzvv8Ek1l0LtMWg73Jt2e-0HMoNjZapU7qTUXiK5A6OldMDTOHaOiCSeAxoqS6cko2ZGP24jbVVej
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuHlBZPchKIT4oZSGxOR0Ci88n0FEs5qmKc4xRwt4h6POvo4miz2iI9lO78ewuqjnSNiN7nb7OMimqNNV6DICv_OOeGFxwz66Y=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuHlBZPchKIT4oZSGxOR0Ci88n0FEs5qmKc4xRwt4h6POvo4miz2iI9lO78ewuqjnSNiN7nb7OMimqNNV6DICv_OOeGFxwz66Y=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShirz79r0ht3bhe2il7q9qcFuY7dU-AD7bRanAiYTnlu5OYwARw7m_mic3qHu8WlzNiEsnc1UizFbOIMfEjktBpIPkinOyYISW_x-_U8ZNopsvUi2Y1mQRTegaTUE8HCZ08szSKz2mDkN9ds9Im2CbODubpfiKf_Fut65H3DE5nKka8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DvcZRUcKh3FSbtbxia3jM5Z6zr4gqxqLMqxUx64pDEeRHrggPO-ufjIs7nrDS7S1PemLEgrt8PlIWm3ZPoUGxGAomYdq4Rpwg=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DvcZRUcKh3FSbtbxia3jM5Z6zr4gqxqLMqxUx64pDEeRHrggPO-ufjIs7nrDS7S1PemLEgrt8PlIWm3ZPoUGxGAomYdq4Rpwg=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShhRtkhhTaM3-bkrhGOqnvd1voHqFk_YlHJpS3IKUqxDW5CqWnEsQaN9iqAfw8lwxRg-Ss3cSz3fsCIh60T-Xt4BDt4eTHwaJJiMflgLLpi82PE1Tk6xqYuGMR2qwq703eB6awhJ_1t4nIxw6qgg0mNC7Cu0ZEMTfJeg1sTdQz956ish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsiMcAVXIfuawR73YdbANrL-jo43Z9U9YEPSk1_kMhG8fb8wm6I0Udy0XiwZaHSMNqhvTRwTeNmvgZcLG4ZD30AIfXA2RPmomQ=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsiMcAVXIfuawR73YdbANrL-jo43Z9U9YEPSk1_kMhG8fb8wm6I0Udy0XiwZaHSMNqhvTRwTeNmvgZcLG4ZD30AIfXA2RPmomQ=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShiPkYy1WFllkIWeCcKZHwPXokCGT2dGbA5nmErFJ2WKyhiklhx2DR-46MbGgyMA7BIU6H5hUy8ydZtM6eAjRG6gu6DNdaV163tH4gG1_ipWSxFqvOO1nSDJhKcsnFRAi63WWRwCFEJA-kwFJX7zqXgCrfXyem870rmmCgyhcVKGeSuo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsVoUP8EaZWsGuGwV2V807U543vyYHSPB8QPV8c_X03PKaF-jW20HxZ_JILMwwoESdNw7b95JWRlKzRjZX_DX-kY6l2Yc9oMEg=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsVoUP8EaZWsGuGwV2V807U543vyYHSPB8QPV8c_X03PKaF-jW20HxZ_JILMwwoESdNw7b95JWRlKzRjZX_DX-kY6l2Yc9oMEg=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShiLburo3Wpo9-2wDu4GAq8GSttyvuek7LmiYRC1CxIMzGS1f2MOLMFBnHOq9AwH_2s5BPfZwJX3WQzwZqCHMlFZyziEvv8tQS84a4bF_PLy3oUu9iaH7NcziO4oJvTPFIDXWEkTea3zBazrWSzAXFtlhN_TmNbBLVL7xicDdfEKRHOz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DvOvz3JqTd3xd0QxT0TnPTqlFPDZGfmqSnmuv2YZsT_5OkVxx6t2q8-u5w1MTmLKWCp_mtqe-9Pvo2v3LcOQB5UICnGoXSpwaQ=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DvOvz3JqTd3xd0QxT0TnPTqlFPDZGfmqSnmuv2YZsT_5OkVxx6t2q8-u5w1MTmLKWCp_mtqe-9Pvo2v3LcOQB5UICnGoXSpwaQ=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShjU1NErmOTMRuXeTueh94p783pLqqwwAkApOOfNbSi5Gex4Bq3lVy2jaE-WtUdV9JNpPvw_WkkDyOjxuiLAwkatCXy1I7EKIhMI779FYSNsYEFLSRDpdphxpimYhp-zxqUqmIT3jM6oamwa-dx4HFhIzQI9qJNliTRiVzRW6_-lIO7i
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Ds1pLIswGbAAqArWO_B1SrvnjTlwARlr-5LGrqXB0LLWXfc2iamCl047WocgzToxEWQ2uR3f0o8-VbOAY7CYDK0F08t-P4WveM=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Ds1pLIswGbAAqArWO_B1SrvnjTlwARlr-5LGrqXB0LLWXfc2iamCl047WocgzToxEWQ2uR3f0o8-VbOAY7CYDK0F08t-P4WveM=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:05 GMT
recorded_with: VCR 6.2.0
