---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&location=39.7752563,-105.0498966&radius=50000&type=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"AUacShgsEJ40iL5cOfWrSQhzlg0uq1Ei70pwSYownsgz0AXGeqOjOhn9-qnUgMTH1oTm9FITTUw_u1Ya6d0AcbdsS4VT3cJNAkWgUhFLf95eNJaVVkIS0_hfLYtoW6vcEwwm1oUEsoYNLoxdGS0V0tCoyEOHYIVdysz1jFdMoK3O1SE-joXcXqcrzTnfhXrtg1kAcUbQ6Cl1JIRG_reC7fyGTbWf5S0QDoFiv5huVulI8jvnTe3oyt7g753ddBPCrgy_-HlR5H6ZOsdkFHt2Hy-TTLihzfWkqlRE1_WPgNTstvPBOZIE8-qhIuaah6MhFvHLnuYbG7IrHh-5pvXqc2Tekd2Z5709tgCqLDyhB7FflRFjdWYI4r_oyW36ETri0-5goTdf1_umko4Pr0G0yRpdqIGcoN60n1zYnSNEEB6MJHgMhL-TZ01LxBOgebhl\",\n
        \  \"results\" : \n   [\n      {\n         \"business_status\" : \"OPERATIONAL\",\n
        \        \"geometry\" : \n         {\n            \"location\" : \n            {\n
        \              \"lat\" : 39.76307789999999,\n               \"lng\" : -105.0056166\n
        \           },\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 39.76450363029149,\n                  \"lng\"
        : -105.0043089697085\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 39.76180566970849,\n                  \"lng\"
        : -105.0070069302915\n               }\n            }\n         },\n         \"icon\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png\",\n
        \        \"icon_background_color\" : \"#FF9E67\",\n         \"icon_mask_base_uri\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet\",\n
        \        \"name\" : \"Root Down\",\n         \"opening_hours\" : \n         {\n
        \           \"open_now\" : false\n         },\n         \"photos\" : \n         [\n
        \           {\n               \"height\" : 2500,\n               \"html_attributions\"
        : \n               [\n                  \"\\u003ca href=\\\"https://maps.google.com/maps/contrib/101203409586871126804\\\"\\u003eRoot
        Down\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShgvCBzyYIgxA3GYM-bBohhbFR9zhiXWUXJVu_6gn6FZTzt6CutSi3m94l35tpsgM2Wu7lVO4eM_0drJxL0hM9KXkccSAnO1G3kXF3W06kpi9XhekX85HqLMZV9MFyKPfQhUBTQnjzx9h6mH04zvgfAcCfmFUXVegzNVv7bHb8L7Mf-1\",\n
        \              \"width\" : 4000\n            }\n         ],\n         \"place_id\"
        : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"plus_code\" : \n         {\n
        \           \"compound_code\" : \"QX7V+6Q Denver, CO, USA\",\n            \"global_code\"
        : \"85FPQX7V+6Q\"\n         },\n         \"price_level\" : 2,\n         \"rating\"
        : 4.6,\n         \"reference\" : \"ChIJxXYVUex4bIcRTFk4-JexDO8\",\n         \"scope\"
        : \"GOOGLE\",\n         \"types\" : \n         [\n            \"restaurant\",\n
        \           \"food\",\n            \"point_of_interest\",\n            \"establishment\"\n
        \        ],\n         \"user_ratings_total\" : 2883,\n         \"vicinity\"
        : \"1600 West 33rd Avenue, Denver\"\n      },\n      {\n         \"business_status\"
        : \"OPERATIONAL\",\n         \"geometry\" : \n         {\n            \"location\"
        : \n            {\n               \"lat\" : 39.7622847,\n               \"lng\"
        : -105.0133257\n            },\n            \"viewport\" : \n            {\n
        \              \"northeast\" : \n               {\n                  \"lat\"
        : 39.7635038302915,\n                  \"lng\" : -105.01196[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShgvCBzyYIgxA3GYM-bBohhbFR9zhiXWUXJVu_6gn6FZTzt6CutSi3m94l35tpsgM2Wu7lVO4eM_0drJxL0hM9KXkccSAnO1G3kXF3W06kpi9XhekX85HqLMZV9MFyKPfQhUBTQnjzx9h6mH04zvgfAcCfmFUXVegzNVv7bHb8L7Mf-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DvNzETwP7e-CmcGrhf5FzeDzuQZTn4nBAoVZNJCjUFclG1VI942ByQZacgHduLKqZG8rLysP2KnsoYegZhSxkRHT0e2i1c99Dc=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DvNzETwP7e-CmcGrhf5FzeDzuQZTn4nBAoVZNJCjUFclG1VI942ByQZacgHduLKqZG8rLysP2KnsoYegZhSxkRHT0e2i1c99Dc=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShgMS8eGCZVbb-TIaJQnpWCHNz5Tp5HeUyPkW98MyajR6xqm5FKuDaS92gElC-_W8AWkDzhln0Ayw5doH_XymNhbMOF3n-LlMDWj7I8cxCAJQBZcFz8lxLpjceP9MQ8gX7HH1_dzWgdIMPI3vWJwOaqGeNqB321UY5PJzortFKjVlGiW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DswzYIWc1H98i78PD1aJirxKx9047NSlGspgfdDnS43TQi1-cnQxSATmvLj5adV-8nCAPq3FAcirZ9UlL3RQL-by5kEdLuuTsA=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DswzYIWc1H98i78PD1aJirxKx9047NSlGspgfdDnS43TQi1-cnQxSATmvLj5adV-8nCAPq3FAcirZ9UlL3RQL-by5kEdLuuTsA=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhBkn9VtBZAKd_wcNczcnGAVZSQ2AZm6y62BB9f6lEki6sWQXJ-W6bygAM9vA-q57csBV09C542H7F2Bfb2wc_Ch_C4yTK5_MByNfUTyXhVfrrItoQ_r6daleu4EEhyYCXf3j9HScIs-Kql1LM5i6w9jaZow5ehTteIMzHi_tmB-PSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DvOzuSYo-LruicYhDAmqeWYUjE1_Yr7lTnWTY2vS1P9KHuX8uTn3u43WaOn2eOnND1d9C0JuxRfh3kqB5mG6hoQTyDrxGa05HI=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DvOzuSYo-LruicYhDAmqeWYUjE1_Yr7lTnWTY2vS1P9KHuX8uTn3u43WaOn2eOnND1d9C0JuxRfh3kqB5mG6hoQTyDrxGa05HI=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShjVW1MiGV6RzFb1dsomhH5r3JipiLStY6qeNh-4syp9n7jTpMgX5aCnG70joCfsC1TlRQ-kJcxiQ3R0idBH5eKprFKJAmV8lq9TZmxJurnbCd_eyVqI5nDcTNcU7iN8PJOk8Khu19cZivUAox-905K2_0AoMDXYRMTzfM10mS-bD6oL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuMRm5w77qRe2DUBYBFJ7ZsUt78wUVCwu1wZ0n-uBEjxUJCt74pzONd1ZWUf1aOcW6DO4aCe9jqrFRtOY7BLfP5yQV3H86hDj4=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuMRm5w77qRe2DUBYBFJ7ZsUt78wUVCwu1wZ0n-uBEjxUJCt74pzONd1ZWUf1aOcW6DO4aCe9jqrFRtOY7BLfP5yQV3H86hDj4=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShh8ldIyb1vC_J_bk-o0klrUQCwJmVuu_58axBXAgCuDQfksqnCewN2HZMQsYOy5ct4aeS36oCRv_Ndz6012DxiKgqsXNZgRnOrMGhNix5Xu_KVEVap_NKPduDX6KffcG_rjazLzgkowoNGlOdtUgPYqodcsrXEtz0lO6rJvgZogARbC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtrdH49oLIRYy0lNaYPvYK3J1UIy8d4Efhsc5yRUPQikZHHqCVWiAwmxzPiIIgiwmDyeSAJEWzBXsd26iwsHBncCdiiT9D-aZU=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtrdH49oLIRYy0lNaYPvYK3J1UIy8d4Efhsc5yRUPQikZHHqCVWiAwmxzPiIIgiwmDyeSAJEWzBXsd26iwsHBncCdiiT9D-aZU=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShg4Ph26BbTnxrGN6d_d0KlJYW9ZEQfYo4HQHVXL7Xod2u-8aCeJocJFg6r2blhOPHLEng1brOII6pDA67iXI9xDLFN6L9OUUBABqd-FvsXhnq0NOUFZXR0HaqLDOKYJm2G9dDzNmDdWefbHqqey1BsRoBznZe-RqCTfl4IFi6F-CTKD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Dtxe9e-7Z-_u-bw6PdsVotnLaHWQOu-9b6oxBD1fadEyUT2r8OXqEqNzPO77QSk_ase-aTm1_8U9dyi6_VWiD3h-MfQD7RBLRg=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Dtxe9e-7Z-_u-bw6PdsVotnLaHWQOu-9b6oxBD1fadEyUT2r8OXqEqNzPO77QSk_ase-aTm1_8U9dyi6_VWiD3h-MfQD7RBLRg=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhBA07Ym6k85WmzNemWWkEJdYu7tbCM327C8hrXm5pTux6Na1LWHIKoAvCdHxa8_fY_LGb4N-tK2S7cGIvtnI9pHaUkwYtseTVaFB6P2iDnjyvGIL5an2qfpxdc6C9YXO-5FHqMGVndd9ZPaqOeB6n_yf2K4MLx8tXSBguz13P-5MTS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3Ds7KZgqolU70MLRAiUbwAwZTkvLVCRUD54BvkA0BtyL1O3RhfyHf_C-ky0nodE3jh5RE72X3ESnE_WTZHm7lHkvPMvYGwh5-rU=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3Ds7KZgqolU70MLRAiUbwAwZTkvLVCRUD54BvkA0BtyL1O3RhfyHf_C-ky0nodE3jh5RE72X3ESnE_WTZHm7lHkvPMvYGwh5-rU=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShjX-3mzqw1JvtwkZKXqiOMx1YzGx4MhvJ8tdNF7dns1BXMb0fIAmG2LhYKMk4B6LWzGyn_0MyFM3bV6P96m8fYPFUG_qKESbfBQEPk3jOBOqbz-z9-wHKAglHUuQIXcac2sXMLKpDnITajKDCgpWKgqXL9JUv96Qa-BdCv01TkC5zsD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DthvHh6zgbC13mtxiPfGi6W3f9QPltfXka9qpoolq8y8FKbAUIdtCelN7CNOQ7isKZS_e7SUSF55bbxAzLgKHA0OlM8PMoVVXs=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DthvHh6zgbC13mtxiPfGi6W3f9QPltfXka9qpoolq8y8FKbAUIdtCelN7CNOQ7isKZS_e7SUSF55bbxAzLgKHA0OlM8PMoVVXs=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhuAiplowz3E9aGkTKwd3sx47zB2JVAn0OiX4MbqZu-t5VW5WqWnTiE2RtZtUNMHd8suWqEs-2ULvEWd6zlfISk4JOnCYkkqB7SBPZ2ZRivtLc5JcYpuPXVkOV_fRnOwPu3_8rGbZuwSch7pWjmMK9yAKiF4ihhkEFhC69bcQur-NEm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuunJagy_l5rK4Sqd6XTp4EBf-ez93IJklP7yU_56LXo5N_63BW3LrqsP5j0iby2BfelJaSrg3x70EqUksB9QZMfgNz03iXbWQ=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuunJagy_l5rK4Sqd6XTp4EBf-ez93IJklP7yU_56LXo5N_63BW3LrqsP5j0iby2BfelJaSrg3x70EqUksB9QZMfgNz03iXbWQ=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhG2pB_eG4mwv89vff14k3fDblCcSulvrGUPhVNSWsTRBH-SqV-spxjJVfsg8gvVzl3dEtOP4dryi6KHEBfyyXz1a9ASXHz4ciW1xeyV739BgqOuBlT3CeszDDl7EFkUkWWeYVqxgPXyDqvR9s4Kx60z25IGXCOgeHKYh9PCvYK2uU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DseJbg3QNf7hXOEbu3JX6PDzeSFug6RtmCpMVXfZ2v9qai025NssH80-zZi8XZDoohLVgr0IScWA_ZbPo2_C9S1Urj7YEd9Tw=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DseJbg3QNf7hXOEbu3JX6PDzeSFug6RtmCpMVXfZ2v9qai025NssH80-zZi8XZDoohLVgr0IScWA_ZbPo2_C9S1Urj7YEd9Tw=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShjc-n_oXUZDE6V1RmcgFm4gpDosZ277CNlhPmerO-jcVXZF0iWxaySLkO0gJLxHrc3E5-57r9ZXCTaxOGDXK3Wx2LipOrDvloykMpLX_iQE_qQgKTBvuwB37eohM_Ktn4FL0CIjh2AuAypNuy9WE8M6r61xSdHw6IR_qomNdrxLA3YU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuGjYn0SdK1AU9xo96KiKpQHeY04Y3y2myDca0iFz6-RL2KfSJ9JG8uzO7DWDdde6I3dhIWRMOlSsxB8csInccIMOG__NuNOnY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuGjYn0SdK1AU9xo96KiKpQHeY04Y3y2myDca0iFz6-RL2KfSJ9JG8uzO7DWDdde6I3dhIWRMOlSsxB8csInccIMOG__NuNOnY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhmJNXv-ct9sc4RrVV60dhN8bgRl2HGpiMGps-6Lnt-ABdEcJ_4p5Y5EqpSHDLxAmnj9TdUf_nYGS8CGxGm6pSI_EXEWZoEQprTkaATQq7jgR6gPIMHz6Rjea3mP20SlKlhMV8y5i2EAysuNuvmVCSMb-dP1y-YJcPuyo-El8QfbagJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsEkcxm-jSR75nZbgkMIEAOf3-OO9cBfFHumISCIZTKo5nwObxEMr9v7BzexXRntq2bCKU41hPnQuncTRTyz2_0p0W_pVJt3aA=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsEkcxm-jSR75nZbgkMIEAOf3-OO9cBfFHumISCIZTKo5nwObxEMr9v7BzexXRntq2bCKU41hPnQuncTRTyz2_0p0W_pVJt3aA=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShgV2HhWAY2boycMgnGB56rtw2ipmPzZ-pzZQHEz4VoIeDKRYfqKK8aBxuflTWeRscBxvyZ4RfPcEHcoEJcNW9jdGypbIvWK2JEHKLIyZMdDqSjd0FWCvIziSJlqiwIazvu_rbIpwoGosoG84fkcC4jj7TX0td3x7YI40gVZnmvflomB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DucVgsarQWnR_bPMGKgSqH42TaKFIeD_hAUCHGp8JtWFdy_PmuVN-Ht5sX6p0Jpx8nKvokKP4F0qha3ciy_pgUnaAlXU4x4fHI=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DucVgsarQWnR_bPMGKgSqH42TaKFIeD_hAUCHGp8JtWFdy_PmuVN-Ht5sX6p0Jpx8nKvokKP4F0qha3ciy_pgUnaAlXU4x4fHI=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShimPV54lCmWDj-CfwkbyuZDrxr809xkZmvur8WyMYtqWCh23IjU36xxOqkorjP63sqBSW0VWb8ufIXEJNnLd164mFL6a4FGWfDrzQp5611AYaFtdMTc2dUHXKbQQRQCcjBq9kHDnK2NvHjvhwfVF5ZqHvtNI336kWOkOxbGnxQQymaQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsCdGLf5JmHTWWGKViLMmlnyuzNr5SRCs2rdQKx6S82CoMp2589bVRAA1aSDiY7d2RCVLuCWiJXvrvEYiCD-7SGOF9FhCLD-Gg=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsCdGLf5JmHTWWGKViLMmlnyuzNr5SRCs2rdQKx6S82CoMp2589bVRAA1aSDiY7d2RCVLuCWiJXvrvEYiCD-7SGOF9FhCLD-Gg=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShivbgzwl_FXDpC_DgHv2cPeAd94Xsu1tcIDgeHeoNiln8Hc3dXlVNaR-wu1I5DREuq5lAt-J_H6G_4zP74sN0f_j0JX0ejCvs0JyiI56o0cYr92xu1pto7twXk_s7l-p32cwLq3h5Ma9fa2kpGJ7phiCQWzHI-epb4Hyhg8uU6mbLhP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsufPwKrsmjuE7Ww8cy4kNofETN1qVa1XAy0a2e22XV8nzuyY4cxpY2kH2N13aVGkPa9Vfzdprvt4XafGUB_0Rr5dHPd_Yxm3k=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsufPwKrsmjuE7Ww8cy4kNofETN1qVa1XAy0a2e22XV8nzuyY4cxpY2kH2N13aVGkPa9Vfzdprvt4XafGUB_0Rr5dHPd_Yxm3k=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShiRQu7vonA6B1c4hdsAxyAEiF0j_XdJTr_sUwF-xOX9ReN07Mna2Q_YIELuUrtXBdo3Pwt7UiAvFYtx5d_3wmkqbPbA4Jsl2Sexk6c9HiYdKyy6tqRaSdJBK2AueI6vLKJm8rplYhRAWSP2zIpTh8NPiVPd6NIdEVSePk0-uKKSL8Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DvOfxn_OezeSFANZFnCE4ExOBRHbvJf-d-i3N_fwOGgXD7PWqb69qEjowv0KG_abgoKbshVAUARGadqvTY4Ll7hcHz86X6rPQ=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DvOfxn_OezeSFANZFnCE4ExOBRHbvJf-d-i3N_fwOGgXD7PWqb69qEjowv0KG_abgoKbshVAUARGadqvTY4Ll7hcHz86X6rPQ=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShgo9YoKx4hbbe06_MomOUIi-OPv4WQwz965xa2LFpg83At31ugR3umhFn7MG3SaXtRKoHJ6EMqImOWWYIGhlFd_4lliEYtXXkkvqP0Vj9agNsdD-w8Zhc4aO-n8A6zOM3CSve6L1Twc9e7UAEU07GBXWT9mwsYANDW7HgJuZaarDxfS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuXJ3Gvln4gvEyWaTYKs6weE55vUwf8kSBeiuuiZpGELkxUjFlGj4inq4exeiZOc0idKNHKMAwF2yosSJtKQcwZgVAc0WjCcuc=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuXJ3Gvln4gvEyWaTYKs6weE55vUwf8kSBeiuuiZpGELkxUjFlGj4inq4exeiZOc0idKNHKMAwF2yosSJtKQcwZgVAc0WjCcuc=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShjQMmRLN5MU2KEaHwYZ78vEGRquEcgo8qByIx3UPgq2wb24iVb255Cb00C3yGP_N-LRgQpZMtVh3oNrl9JkdpFthy_T2dLZf8faPEOjlXV56JwmKucwTO7a_aY-DC1w5fiyTaAvTp7-MgftGut0KtmYuFhYcjiPXTanNqAqwULOua2l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtDcx0hMNxPb9GTYsS2Kjl8RmAI6phaM5HG9POkagVeW_-osI1hLHU7dr7Y2t_kFS76WUguA5EnUER_Z447jpm4cA7ebYcbZ2E=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtDcx0hMNxPb9GTYsS2Kjl8RmAI6phaM5HG9POkagVeW_-osI1hLHU7dr7Y2t_kFS76WUguA5EnUER_Z447jpm4cA7ebYcbZ2E=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShgn4WsXYQkGJCbf-63pqtBVIXyfh1wmesVNzvdEd1o9jm-6U1G5LrPVsdn2hbd6FWq5soJB9fswSwKW7FTtsl8zjRPOMaJY6icjD3pQ1CieBffsDStXXMtB991YADM0VL8uUwAnBZEZ81CEPZwku8wGW3vE2CMQAuVEvQ7yde_Z2Ctq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DsMEv3AtXUAsvZtN_3wGtL02A381OiTHLnXLZmaPeoFrbeyfyNNyA2bxdN2w82l2OfyrzhtUZGfUF4k-fInPKMs-6SnAxTYVDY=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DsMEv3AtXUAsvZtN_3wGtL02A381OiTHLnXLZmaPeoFrbeyfyNNyA2bxdN2w82l2OfyrzhtUZGfUF4k-fInPKMs-6SnAxTYVDY=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4&maxwidth=400&photo_reference=AUacShhbpkNhKA8ZGKTZRxLP4xK063aL3wAy2CbLxbitAO7pfTsrXw1E1XOcZY7WAL1q7vqpQG0PaxteOeAUuSwvQJ94Cp1BbYYlZB0icx9uQw02_PiQo6wdU45nWgH5B-_ZurZHCHG3qVf5F0CbcU99jsIRTZHic0TAML6RYa5ZWTKxlmiu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DtES5ivzS-38wABLH8Biq5Wt8HKmE3IgoUldd3akTBO-6JbUQmrbldOsJ-usuGr92gwI-dzbOBC-nWK91REba0iSYMOIb4rhow=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DtES5ivzS-38wABLH8Biq5Wt8HKmE3IgoUldd3akTBO-6JbUQmrbldOsJ-usuGr92gwI-dzbOBC-nWK91REba0iSYMOIb4rhow=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 Aug 2023 21:59:52 GMT
recorded_with: VCR 6.2.0
