---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=name,photo,price_level,rating&input=crown%20burger&inputtype=textquery&key=google_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Crown
        Burgers\",\n         \"photos\" : \n         [\n            {\n               \"height\"
        : 3024,\n               \"html_attributions\" : \n               [\n                  \"\\u003ca
        href=\\\"https://maps.google.com/maps/contrib/113899924754079514773\\\"\\u003eMatt
        G\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"AUacShhRY-BsQhktIAzCh74jc2yFUS2foiMgVDZ3xnFcDo96gX1buRTBI7HdT4QterM6SJxmcv0-shmTCxd54LE6C5K62i9zFNQeB0gF--HChj-Uwe07yzA65ZLBzAx_wowUB_yKxmDp1uqBQmvPwkI2WB75FYTSvGWhilhNG8DdHhd1-Df9\",\n
        \              \"width\" : 4032\n            }\n         ],\n         \"price_level\"
        : 1,\n         \"rating\" : 4.7\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 01 Sep 2023 16:43:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=google_key&maxwidth=400&photo_reference=AUacShhRY-BsQhktIAzCh74jc2yFUS2foiMgVDZ3xnFcDo96gX1buRTBI7HdT4QterM6SJxmcv0-shmTCxd54LE6C5K62i9zFNQeB0gF--HChj-Uwe07yzA65ZLBzAx_wowUB_yKxmDp1uqBQmvPwkI2WB75FYTSvGWhilhNG8DdHhd1-Df9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/places/ANJU3DuVHzH5rjYfhsVetgmonvQlNvmjJ8QBx3GlnENIYlmiEKzTMtw1GECLP0bWIs26cGzgsEIF3zTn0HoHaXelwxnY1tv7evpTg0U=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/places/ANJU3DuVHzH5rjYfhsVetgmonvQlNvmjJ8QBx3GlnENIYlmiEKzTMtw1GECLP0bWIs26cGzgsEIF3zTn0HoHaXelwxnY1tv7evpTg0U=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 01 Sep 2023 16:43:02 GMT
recorded_with: VCR 6.2.0
