---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=20817&key=AIzaSyCC7f6w-PndtB1YiBTT-fXstWa0qKB22f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Washington, DC
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"20817\",\n
        \              \"short_name\" : \"20817\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Bethesda\",\n               \"short_name\"
        : \"Bethesda\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Montgomery County\",\n               \"short_name\"
        : \"Montgomery County\",\n               \"types\" : \n               [\n
        \                 \"administrative_area_level_2\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Maryland\",\n               \"short_name\" : \"MD\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Bethesda, MD 20817, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 39.0382689,\n                  \"lng\"
        : -77.106252\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 38.96785,\n                  \"lng\" : -77.213638\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 38.9894702,\n               \"lng\" : -77.1370115\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 39.0382689,\n                  \"lng\" : -77.106252\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 38.96785,\n                  \"lng\" : -77.213638\n               }\n            }\n
        \        },\n         \"place_id\" : \"ChIJB8NJjnLLt4kROWs5Bdlevo0\",\n         \"postcode_localities\"
        : \n         [\n            \"Bethesda\",\n            \"Cabin John\",\n            \"Huntington
        Terrace\",\n            \"North Bethesda\",\n            \"Potomac\"\n         ],\n
        \        \"types\" : \n         [\n            \"postal_code\"\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Mon, 28 Aug 2023 03:18:03 GMT
recorded_with: VCR 6.2.0
